@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

:root {
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    font-family: 'Space Grotesk';
}

.page-link {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.page-link:hover {
    color: orange;
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8em;
    border: yellow;
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 10em;
    color: rgb(0, 76, 255);
}

.job {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 17em;
    color: rgb(123, 46, 199);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 3.4em;
    color: rgb(245, 56, 3);
}

.listed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 8em;
    color: orange;
}

.applied {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 8em;
    color: yellow;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 15em;
    color: green;
}

.notes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 15em;
    color: rgb(0, 76, 255);
}

.listing-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(123, 46, 199);
    margin-left: 1em;
    margin-top: 1em;
    text-decoration: none;
}

.listing-link:focus {
    color: white;
}


.edit-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
    margin-left: 1em;
    margin-top: 1em;
    text-decoration: none;
}

.edit-link:hover {
    color: white;
}

.edit-div {
    display: block;
}

.delete-link {
    color: white;
    text-decoration: none;
}

.delete-link:hover {
    color: red;
}