{% extends 'main/base.html' %}

{% block content %}
    {% for a in application %}
    <div class="apps">
    <p class="company">{{a.company}}</p>
    <p class="job">{{a.job_title}}</p>
    <p class="result">{{a.result}}</p>
    <p class="listed">{{a.date_listed}}</p>
    <p class="applied">{{a.date_applied}}</p>
    <p class="fu">{{a.follow_up}}</p>
    <p class="contacts">{{a.contacts}}</p>
    <p class="notes">{{a.notes}}</p>
    <a href="{{a.link}}" class="link">see the listing</a>
    </div>
    {% endfor %}   
{% endblock %}
