{% extends 'main/base.html' %}

{% block content %}

<a href="/add" class="page-link">Add Application</a>
<h2>{{num}} applications</h2>
    {% for a in application %}
    <div class="apps">
    <p class="company">{{a.company}}</p>
    <p class="job">{{a.job_title}}</p>
    <p class="result">{{a.result}}</p>
    <p class="listed">{{a.date_listed}}</p>
    <p class="applied">{{a.date_applied}}</p>
    <p class="contacts">{{a.contacts}}</p>
    <p class="notes">{{a.notes}}</p>
    <a href="{{a.link}}" class="listing-link">listing</a>
    <a href="/{{a.id}}" class="edit-link">Edit</a>
    </div>
    {% endfor %}  
</form> 
{% endblock %}
